body{
    background-color: lightskyblue;
    height: 100vh;
    width: 100vw;
}

/* .small-box {
    background-color: white;
    color: black;
    height: 25%;
    width: 60%;
    margin: 0 auto;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .big-box {
    background-color: white;
    color: black;
    height: 35%;
    width: 60%;
    margin: 0 auto;
    display: center;
} */

/* .half-box {
    height: 50%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .custom-button {
    background-color: white;
    height: 80%;
    width: 80%;
    border-radius: 5vh;
    font-size: 8vh;
    outline: none; 
    border: none;
} */

.box {
    /* background-color: white; */
    color: black;
    height: 25%;
    width: 60%;
    margin: 0 auto;
    border-radius: 5%;
    display: flex;
    justify-content: center;
}

.redirect-button {
    background-color: white;
    height: 80%;
    width: 80%;
    border-radius: 5vh;
    font-size: 8vh;
    outline: none; 
    border: none;
}

.submit-button {
    background-color: white;
    height: 80%;
    width: 20%;
    border-radius: 0vh 5vh 5vh 0vh;
    font-size: 8vh;
    outline: none;
    border: none;
}

form {
    display: flex;
    width: 100%;
    justify-content: center;
}

input {
    text-align: center;
    height: 80%;
    width: 60%;
    border-radius: 5vh 0vh 0vh 5vh;
    font-size: 8vh;
    outline: none;
    border: none;
}

.redirect-button:hover, .submit-button:hover, input:hover {
    background-color: darkgray;
}

input:focus::placeholder {
    color: transparent;
}
