body {
    background-color: lightskyblue;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-question, #container-result {
    height: 80%;
    width: 70%;
}

#question-space, #answers-space {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#answers-space {
    display: none;
}

#question-box, #answers-box {
    height: 90%;
    width: 90%;
}

#question-box {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answers-row {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.answer-box {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-button {
    background-color: white;
    height: 80%;
    width: 80%;
    font-size: 200%;
    outline: none; 
    border: none;
}

/* ANSWER AND LEADERBOARD */

#leaderboard-space, #correct-answer-space {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#leaderboard-box, #correct-answer {
    background-color: white;
    height: 90%;
    width: 90%;
}

#leaderboard-box {
    align-items: center;
    justify-content: center;
}

#correct-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

#header {
    height: 20%;
    width: 100%;
    border-bottom: 1vh solid lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

#leaderboard {
    height: 90%;
    width: 100%;
    text-align: center;
}