body {
    background-color: lightskyblue;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    height: 80%;
    width: 70%;
}

#question-space, #answers-space {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#answers-space {
    display: none;
}

#question-box, #answers-box {
    height: 90%;
    width: 90%;
}

#question-box {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answers-row {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.answer-box {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-button {
    background-color: white;
    height: 80%;
    width: 80%;
    font-size: 200%;
    outline: none; 
    border: none;
}

#leaderboard {
    background-color: white;
    height: 80%;
    width: 50%;
    text-align: center;
}