<html lang="pl">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/home.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/home.js"></script>
    </head>
    <body>
        <div class="box">
            <button id="add-quiz-button" class="redirect-button" type="button">
                CREATE QUIZ
            </button>
        </div>
        <div class="box">
            <button id="create-lobby-button" class="redirect-button" type="button">
                CREATE LOBBY
            </button>
        </div>
        <div class="box">
            <form action="/join_lobby" method="POST">
                <input class="custom-button" type="text" placeholder="LOBBY CODE" name="code" required>
                <button class="submit-button" type="submit">
                    JOIN
                </button>
            </form>
        </div>
        <div class="box">
            <button id="log-out-button" class="redirect-button" type="button">
                LOG OUT
            </button>
        </div>
    </body>
</html>