<html lang="pl">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/home.css" />
    </head>
    <body>
        <form action="/add_quiz" method="GET">
        <div class="small-box">
                <button class="custom-button" type="submit">CREATE QUIZ</button>
        </div>
        </form>
        <form action="/create_lobby" method="GET">
        <div class="small-box">
                <button class="custom-button" type="submit">CREATE LOBBY</button>
        </div>
        </form>
        <form action="/join_lobby" method="POST">
        <div class="big-box">            
            <div class="half-box">
                <button class="custom-button" type="submit">
                    JOIN LOBBY
                </button>
            </div>
            <div class="half-box">
                <input class="custom-button" type="text" placeholder="LOBBY CODE" name="code" required>
            </div>
        </div>
        </form>
    </body>
</html>